/*Global view*/

html,
body {
    display: grid;
    height: 100%;
}

body {
  background-color: hsl(212, 45%, 89%);
  max-width: 1440px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp (1rem, 0.75rem+1.5vw, 2rem);
  
}

.wrapper {
  width: 25%;
  margin: auto;
  background-color: white;
  padding: 0.7rem;
  box-shadow: 0.625rem 0.625rem 1.25rem hsla(0, 0%, 0%, 0.103);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 0.625rem;
}

main {
  padding: 0.6rem;
}

h1 {
  font-size: 1.5rem;
  color: #1f314f;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: #68778d;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: center;
  font-weight: 400;
}

/* Mobile view */

@media screen and (min-width:800px) and (max-width: 1200px) {
  .wrapper {
    width: 35%;
  }
  
}

@media screen and (min-width:500px) and (max-width: 800px) {
 .wrapper {
  width:55%;
 }
}

@media screen and (min-width:300px) and (max-width: 500px) {
 .wrapper {
  width: 75%;
 }
}

