/*Global view*/

html, body {
  height: 100%;
  display: grid;
}

body {
  background-color: hsl(212, 45%, 89%);
  width: 1440px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


main {
  width: 20%;
  background-color: white;
  padding: 20px;
  margin: auto;
  box-shadow: 10px 10px 20px hsla(0, 0%, 0%, 0.103);
  border-radius: 20px;
}


img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

h1 {
  font-size: 22 px;
  color: #1F314F;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 700;
}

p {
  font-size: 15 px;
  color: #68778D;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: center;
  font-weight: 400;
}



/* Mobile view */

@media (max-width: 375px) {

  /* main {
    width: 50%;
  } */

}